
.normal {}

.edit {
    float: right;
}

.picWrap {
    position: relative;
    width: 200px;
    height: 200px;
    float: left;
    margin-right: 20px;
}

.pic {
    width: 100%;
}

.qrCode {
    position: absolute;
    width: 35%;
    height: 35%;
    bottom: 0;
    right: 0;
}

.detailList {
    overflow: hidden;
    li {
        word-break: break-all;
        line-height: 20px;
    }
}

/*清除浮动*/
//.clearFix::after {
//    content: '';
//    display: table;
//    height: 0;
//    clear: both;
//    visibility: hidden;
//}