
.normal {
}

.addButton {
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    box-shadow: 3px 4px 8px gray;
    text-align: center;
    padding: 0;
}

.editButton {
    float: right;
}

