
.normal {
}

.loginForm {
  max-width: 400px;
  width: 100%;
  box-shadow: 1px 2px 5px #D2D2D2;
  padding: 16px;
  border-radius: 3px;
  float: right;
  margin: 100px 100px 0 0;
}
.loginFormForgot {
  float: right;
}
.loginFormButton {
  width: 100%;
}
